canvas{
    
        display: block;
        margin: 0 auto;
        border:1px solid #000; 
        /* background-image: url(../img/block.png) ; */
        background-size: 200%;
        background-position: center;
   
}

body{
    background-image: url(../img/image1.png) ;
    background-size: cover;
    background-attachment: fixed;  
    caret-color: transparent;
    margin-top: 17px;
}


.container {
    position: relative; /* Контейнер — точка отсчета */
    width: 600px;  /* Размеры как у картинки */
    height: 400px;
}

.background {
    width: 100%;
    height: 100%;
    display: block;
}

#myCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; /* Поднимает канвас над фоном */
    background: transparent; /* Оставляем прозрачным */
}



.cyfra{
    color: seashell;
    font-size: 55px;
    display: flex;
    justify-content: center;
}