canvas{
    
        display: block;
        margin: 0 auto;
        border:1px solid #000; 
        
        background-size: 200%;
        background-position: center;
   
}

body{
    background-image: url(../img/image.png) ;
    background-size: cover;
    background-attachment: fixed;  
}