canvas{
    
        display: block;
        margin: 0 auto;
        border:1px solid #000; 
        background-image: url(../img/block.png); 
            background-size: 200%;
        background-position: center;
   
}