body{
    background-image: url(../img/image.png) ;
    background-size: cover;
    background-attachment: fixed;
    padding: 15%;

    
    
}
.center{
  text-align: center;
}
.glavnoe{
    /* background-color: rgb(74, 255, 219);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px; */
    display: flex;
    max-width: 1000px;
    margin: 40px auto;
    background: white;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    
  }
  .front_img
  {
  flex: 1;
  padding: 32px;
  }
  .front_code{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    padding: 32px;
    padding-top: 2px;
    
  }

  .login_form {
    display: flex;
    gap: 15px;
    flex-direction: column;
  }

.login_form_buttons_group {
  align-self: center;
  display: flex;
  gap: 10px;
}

.button {

  padding: 10px 15px;
  border-radius: 15px;
  border: 1px solid rgb(126, 126, 120);
  background-color: #fff;
  color: #000;
}

.shrift{
  font-family: "Jersey 10", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  margin: 0%;
  margin-bottom: 10px;
}

.text{
  text-align: center;
  padding: 0px;
  margin: 0%;

}

.rovny_area{
  display: flex;
  border-radius: 40px;
  
}




